<h1>Your bookings</h1>

<div class="container">
  <ul class="list-group">
    <% current_user.bookings.each do |booking| %>
      <li class="list-group-item">
        <div class="card-product">
          <img <%= image_tag booking.car.photos.first.service_url, class: 'booking-car-photo' %>
          <div class="card-product-infos">
            <h2><%= booking.car.manufacturer %> <%= booking.car.model %> </h2>
            <p><%= booking.start_date %> to <%= booking.end_date %></p>
            <p><%= booking.car.address %> </p>
          </div>
          <%= link_to 'Cancel Booking', booking_path(booking), method: :delete %>
        </div>
        </li>
        <!-- <div class ="links"> -->
      <!-- <div class="btn btn-link"> -->
  <% end %>
</div>
</div>
</ul>
</div>
