<h1>Your bookings</h1>

<div class="container">
  <ul class="list-group">
    <% current_user.bookings.each do |booking| %>
      <li class="list-group-item"><%= booking.car.manufacturer %> <%= booking.car.model %> booked from <%= booking.start_date %> to <%= booking.end_date %></li>
      <%= link_to 'Cancel booking', booking_path(booking), method: :delete %>
    <% end %>
  </ul>
</div>
