<h1> Edit Your Listing </h1>
    <div class="col-6 offset-3">
      <%= simple_form_for @car do |f| %>
        <%= f.error_notification %>
        <%= f.input :model %>
        <%= f.input :manufacturer %>
        <%= f.input :year %>
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.input :description, as: :text %>
        <%= f.submit "Edit Listing" %>
      <% end %>
    </div>

    <div class = "btn btn-link">
    <%= link_to "Back to car", car_path(@car) %>
    </div>
