<div class="container-form body-white">
<h1> Add Your Listing </h1>
    <div class="col-6 offset-3 border border-car-form">
      <%= simple_form_for @car do |f| %>
        <%= f.error_notification %>
        <%= f.input :model %>
        <%= f.input :manufacturer %>
        <%= f.input :year %>
        <%= f.input :price %>
        <%= f.input :address %>
        <%= f.input :description, as: :text %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create Listing" %>
      <% end %>
    </div>


    <div class = "links">
    <div class = "btn btn-link">
    <%= link_to "Back to listings", cars_path %>
    </div>
  </div>
</div>

