<div class="container container-show">
  <div class="flex-container show-images">
    <div class="main-image">
      <img class="large-image" src="https://bespokes.co.uk/wp-content/uploads/2018/07/jaguar-etype-hire.jpg" alt="">
    </div>
    <div class="small-image-wrapper">
      <div class="row">
        <div class="col-6" ><img class="small-image" src="https://bespokes.co.uk/wp-content/uploads/2018/07/jaguar-etype-side-view.jpg" alt=""></div>
        <div class="col-6" ><img class="small-image" src="https://bespokes.co.uk/wp-content/uploads/2018/07/jaguar-etype-rear-view.jpg" alt=""></div>
      </div>
      <div class="row">
        <div class="col-6" ><img class="small-image" src="https://bespokes.co.uk/wp-content/uploads/2018/07/jaguar-etype-interior.jpg" alt=""></div>
        <div class="col-6" ><img class="small-image" src="https://bespokes.co.uk/wp-content/uploads/2018/07/jaguar-etype-hire.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>

<div class="info-container">
  <div class="info">
    <p class="description">
    <h1><%= @car.manufacturer %> <%= @car.model %></h1>
      <ul>
        <li><%= @car.year %></li>
        <li><%= @car.price %></li>
        <li><%= 'â­ï¸' * @car.rating %></li>
      </ul>
    <p class="reviews"></p>
  </div>
  <div class="calendar">
    <h1>Availability</h1>
    <img src="https://gzscripts.com///application/web/upload/1424818375.png" alt="">
  </div>
</div>

<%= link_to 'Back', cars_path %>
