<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="image-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @car.photo.key, height: 400, width: 700, crop: :fill %>'); height: 400px; width: 700px">
        <%#= cl_image_tag @car.photo.key, class:'large-image' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="info-container">
          <h1 class ="less"><%= @car.manufacturer %> <%= @car.model %></h1>
            <ul>
              <li class="lessli"><%= @car.year %></li>
              <li class="lessli"><%= @car.price %></li>
              <li><%= '☆' * 5 %></li>
            </ul>
          </div>
      </div>
  </div>
</div>
<!--
<div class="car-container" >

</div> -->
<div class="links">
<button type="button" class="btn btn-link">
<%= link_to 'Back', cars_path %>
</button>
<button type="button" class="btn btn-link">
<%= link_to 'Book car', new_car_booking_path(@car) %>
</button>
</div>
