<h1>Car</h1>
<%= @car.model %>
<%= car.manufacturer %>
<%= car.year %>
<%= car.price %>
<%= car.rating %>


<!-- <%= car_path(car) %> -->
<%#= link_to 'delete', cars_path, method: :delete, data: { confirm: 'Are you sure?'} %>
<%#= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to 'Back', cars_path %>
