<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="overlay-fade">
      <%= image_tag @car.photos.first.service_url, class: 'first-car-photo' %>
        <div class="text" style="">
          <%= link_to 'Book Car', new_car_booking_path(@car) %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <% @car.photos.drop(1).each do |photo| %>
          <div class="col-6">
            <%= image_tag photo.service_url, class: 'cars-photo' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="info-container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="car-title"><%= @car.manufacturer %> <%= @car.model %></h1>
          <ul>
              <li class="lessli"><%= @car.description %></li>
              <li class="lessli"><%= @car.price %></li>
              <li class="lessli">Year: <%= @car.year %></li>
              <li class="lessli">Available to rent from:  <%= @car.address %></li>
              <li class="lessli"><%= '☆' * 5 %></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="links">
<button type="button" class="btn btn-link">
<%= link_to 'Back', cars_path %>
</button>
<button type="button" class="btn btn-link">
<%= link_to 'Book car', new_car_booking_path(@car) %>
</button>
<button type="button" class="btn btn-link">

<%= link_to 'Edit car', edit_car_path(@car) %>
</button>

</div>

</div>

<div class="d-flex" style="margin: 0 30px;">
  <div id="map"
       style="width: 50%;
       height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="reviews-container d-flex">
    <div class="reviews-list">
      <div style="width: 50vw; padding-left: 15px;">
        <div class ="review-header">
        <h3>Reviews</h3>
          <% if @car.reviews.empty? %>
            <p>Be the first to leave a review</p>
          <% else %>
        </div>
          <ul class="list-group">
            <% @car.reviews.each do |review| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-primary badge-pill">
                  <% counter = 0 %>
                  <% 5.times do %>
                    <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                    <% counter += 1 %>
                  <% end %>
                </span>
                <%= review.content %>
              </li>
            <% end %>
          </ul>
          <% end %>
      </div>
    </div>

    <div class="add-review">
    <% if @car.bookings.where(user: current_user).any? %>
      <%= render "reviews/new", car: @car, review: @review, booking: @car.bookings.where(user: current_user).last %>
    <% end %>
  </div>
  </div>
</div>

